* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

header {
  height: 150px;
  grid-area: header;
  background-color: #345029;
  padding-top: 50px;
}

header img {
  margin: auto;
}

main {
  grid-area: main;
}

#balance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -50px;
}

.card {
  width: 200px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.card h2 {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h2 img {
  height: 1.75rem;
}

.card p {
  font-size: 1.5rem;
  font-weight: 500;
}

#transactions {
  margin-top: 2rem;
}

.serach-add {
  display: flex;
  margin-bottom: 1rem;
}

.search {
  width: 30%;
  height: 2rem;
  border: none;
  padding: 0 1rem;
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.5em;
  padding-right: 2rem;
}

.new {
  color: #345029;
  margin-left: auto;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.table table {
  width: 100%;
  border-spacing: 0 0.25rem;
}

tr {
  height: 2rem;
}

thead tr {
  background-color: #fff;
}

tbody tr {
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

tbody tr:hover {
  background-color: #fff;
}

th {
  text-align: left;
}

th,
td {
  padding: 0 1rem;
}

tr th:first-child,
tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
tr th:last-child,
tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actions img {
  height: 1.5rem;
  cursor: pointer;
}

footer {
  grid-area: footer;
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 0.75rem;
}

.modal-overflow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.active {
  display: flex;
}

.modal {
  max-width: 450px;
  padding: 1rem;
  background-color: #f0f2f5;
  border-radius: 0.25rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.modal h1 {
  font-size: 1.25rem;
}

.modal-content {
  margin-top: 1rem;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-content input {
  height: 2rem;
  width: 350px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-actions .button {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.modal-actions .button.cancel {
  border: 1px solid #f87171;
  color: #f87171;
}

.modal-actions .button.cancel:hover {
  border: 1px solid #ef4444;
  color: #ef4444;
}

.modal-actions .button.save {
  border: 1px solid #16a34a;
  background-color: #16a34a;
  color: #fff;
}

.modal-actions .button.save:hover {
  border: 1px solid #15803d;
  background-color: #15803d;
  color: #fff;
}

.type-transaction-container {
  display: flex;
  gap: 1rem;
}

.type-transaction {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  cursor: pointer;
}
