* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #f0f2f5;
}

header {
  background-color: #345029;
  color: #fff;
  height: 200px;
  text-align: center;
}

header img {
  margin-top: 50px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  flex: 1;
}

#balance {
  display: flex;
  margin-top: -50px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.card {
  width: 200px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
}

.card h2 {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-regular,
.fa-solid {
  font-size: 1.5rem;
}

.fa-circle-down {
  color: #f87171;
}

.fa-circle-up {
  color: #16a34a;
}

.card span {
  font-size: 1.5rem;
}

#transactions {
  width: 100%;
}

.handle-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.search {
  border: 0;
  height: 2rem;
  padding: 0 0.5rem;
  outline: none;
  border-radius: 0.25rem;
  width: 300px;
  font-size: 1rem;
}

.new {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

table {
  width: 100%;
  border-spacing: 0 0.25rem;
}

th {
  text-align: left;
}

th,
td {
  padding: 0.5rem;
}
thead {
  background-color: #fff;
}

tbody {
  background-color: rgba(255, 255, 255, 0.7);
}

.action-area {
  display: flex;
  gap: 1rem;
}

.fa-solid {
  cursor: pointer;
}

.fa-trash {
  color: #f87171;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  color: #345029;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  display: none;
  opacity: 0;
}

.modal-content {
  background-color: #f0f2f5;
  padding: 20px;
  border: 1 solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.modal-content h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
}

.types {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.type-input {
  cursor: pointer;
}

.modal-btn-area {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

form button {
  width: 100%;
  font-size: 1rem;
  border: 0;
  background-color: transparent;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 0.25rem;
}

.cancel {
  border: 1px solid #f87171;
  color: #f87171;
}

.save {
  background-color: #16a34a;
  color: #fff;
}

.show {
  display: flex;
  opacity: 1;
}
